	  <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="/">На головну</a>
            </div>
        </div>
        <!-- /.container -->
    </nav>    

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ page.top_url }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 style="background-color: {{ page.background_color }}; color: {{ page.font_color }}">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
